node_modules
lib
tmp_js
# Logs
logs
*.log
npm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

build/Release
typings/
*.tsbuildinfo
.npm
.eslintcache
.yarn-integrity
.env
.env.test
.cache
dist
.cache/
